font-family: 'Balsamiq Sans',
cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans',
        cursive;
}


.carousel-inner img {
    width: 100%;
    height: 90vh;
}

.aboutimg {
    width: 80%;
    height: 300px !important;
}



* {
    margin: 0;
    padding: 00;
    font-family: sans-serif;
}

.body-content {
    width: 100%;
    padding: 20px;
    text-align: justify;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 40px;

}

.footer {
    width: 100%;
    background: #00121b;
    display: block;

}

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}

h1 {
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}

.footer-items u1 {
    color: grey;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;

}

h2 {
    margin: 10px 0;
    color: grey;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;

}

.border {
    height: 2px;
    width: 40px;
    background: #ff9800;
    font-size: 15px;
    letter-spacing: 0.5px;

}

u1 a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transform: 0.3s;

}

u1 a :hover {
    color: #ff9800;

}

u1 li {
    margin: 10px 0;
    height: 25px;

}

li i {
    margin-right: 20px;

}

.social-media {
    width: 100%;
    color: #fff;
    text-align: center;
}

.social-media a {
    text-decoration: none;

}

.social-media i {
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid grey;
    transition: 0.3s;

}

.social-media i :hover {
    background: grey;

}

.footer-bottom {
    padding: 10px;
    background: #3d545f;
    color: #fff;
    font-size: 12px;
}

@media screen and(max-width: 1085px) {
    .footer-items {
        width: 50%;
    }
}

@media screen and(max-width: 600px) {
    .footer-items {
        width: 100%;
    }
}

.happyclients {
    width: 100%;
    height: 100vh;
    padding: 80px 0;
}

.box {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    transition: 0.3s ease;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -60px ! important;

}

.carousel-indicators li {
    background-color: deeppink !important;
}

.box a {
    position: relative;
}

.box p {
    font-family: sans-serif;
    word-spacing: normal;
}

.box a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.box a:after {
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    color: white;
    position: absolute;
    top: 120%;
    left: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.box h1 {
    font-size: 20px;
    font-weight: 300;
    color: #000;
    margin-bottom: 10px;
}

.box h2 {
    font-size: 15px;
    font-weight: 400px;
    color: #666666;
    margin-bottom: 20px;

}


/* blog page */

.blogShort {
    border-bottom: 1px solid #ddd;
}

.add {
    background: #333;
    padding: 10%;
    height: 300px;
}

.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}

.nav-sidebar .active a {
    cursor: default;
    background-color: #34ca78;
    color: #fff;
}

.nav-sidebar .active a:hover {
    background-color: #37D980;
}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius: 0;
    margin-bottom: 10px
}

.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color: #34ca78;
    border-color: #34ca78;
}

h2 {
    color: #34ca78;
}

.margin10 {
    margin-bottom: 10px;
    margin-right: 10px;
}



/* blog page */